.autocomplete-item {
  background-color: transparent;
  border: 0;
  text-align: start;
  cursor: pointer;
  padding: 8px;
  transition: background-color 0.1s ease-in-out;
  &:hover {
    background-color: #eee;
  }
  &:active {
    background-color: #ddd;
  }
}
