* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  align-items: center;
  height: 100%;
  /* CSS Nesting is now available by default in the latest browsers! */
  /* That's so cool! That was one of the main features of CSS preprocessors in my opinion */
  /* If the styles are broken in your browser, try updating your browser! */
  /* Also, looks like it does not work in Firefox yet */
  .header-text {
    text-align: center;
  }
}
